html{
  user-select: none;
}

.cursor{
  cursor: pointer;
}

.demo-content{
  max-width: 100%;
  overflow: hidden;
}

.demo-drawer{
  overflow: hidden;
  height: 100%;
}

main{
  overflow: hidden;
}

main .mdl-grid{
  padding: 8px;
  padding-right: 0;
  padding-top: 0;
}

.back-button{
  padding-left: 10px;
}

.current-path{
  font-size: 0.8em;
  padding: 3px;
  padding-left: 8px; 
  color: rgba(255,255,255,0.5);
}

#nav-folder-list{
  height: auto;
  overflow-y: auto;
}

#folderListContainer ul::-webkit-scrollbar{
  width: 0.5em;
  background: #1565c0;
  border-radius: 3px; 
}

#folderListContainer ul::-webkit-scrollbar-track{
  width: 0.5em;
  background: #1565c0;
}
#folderListContainer ul::-webkit-scrollbar-button{
  width: 0.5em;
  background: #0942a0;
  border-radius: 2px;
}
#folderListContainer ul::-webkit-scrollbar-thumb{
  width: 0.5em;
  background: #ddddff;
  border-radius: 3px;
  height: 25px;
}

.folder-content-container{
  width: 73%;
  overflow-x: hidden;
  overflow-y: auto;
}

.file-preview{
  width: 25%;
  height: calc(100% - 88px);
  background: #fff;
  padding: 8px;
  box-shadow: -3px 0 5px rgba(0,0,0,0.05);
}

.current-directory-name{
  font-size: 1.2em;
  font-weight: bold;
  padding: 3px;
  padding-left: 10px;
}

.folder-list-item{
  transition: all 0.25s;
  font-size: 16px;
  padding: 3px 0;
  margin: 1px 0;
}

.folder-list-item:hover{
  /*transform: scale(1.1) translateX(10px);*/
  background: rgba(255,255,255,0.1);
  color: #fff;
  /*font-weight: bold;*/
  /*margin: 3px 0;*/
}

.directory-item{
  background: #fff;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
  margin: 5px;
  padding: 5px 10px; 
  /*float: left;*/
  transition: all 0.2s;
  cursor: pointer;
  border: 2px solid rgba(0,0,0,0);
}

.directory-item:hover{
  background: #2196F3;
  color: #fff;
  border: 2px solid #fff;
}

.section-heading{
  font-size: 1.2em;
  color: #333;
  font-weight: bold;
  margin-top: 0px; 
  margin-bottom: 0px;
  padding-bottom: 0px;
  line-height: 32px;
}

.section{
  display: -webkit-flex;
  height: auto;
  flex-flow: row wrap;
}

.file-section{
  margin-top: 10px;
}

.back_button{
  color: #fff;
  font-size: 1.3em;
  background: #1565c0;
  align-items: center;
  display: flex !important;
  flex-direction: row;
  line-height: 24px;
  padding: 15px;
  transition: all 0.2s;
}

.back_button:hover{
  background: #2979ff;
  font-weight: bold;
}

.toggle-icon{
  cursor: pointer;
}

.image-preview{
  width: 100%;
  height: 50%;
  background: #fff;
}

.preview-image{
  width: 100%;
  object-fit: cover;
}

.content-preview{
  height: 50%;
  overflow: scroll;
  background: #eee;
  font-family: monospace;
  font-size: 10px;
  padding: 3px;
}

.content-preview::-webkit-scrollbar{
  width: 0.5em;
  height: 0.5em;
}

.content-preview::-webkit-scrollbar-track{
  background: #eee;
}
.content-preview::-webkit-scrollbar-button{
  background: #555;
  border-radius: 3px;
}
.content-preview::-webkit-scrollbar-thumb{
  background: #aaa;
  border-radius: 3px;
  cursor: pointer;
}

.pdf-preview{
  height: 60%;
  width: calc(100% - 2px);
}

.preview-h3{
  font-size: 1.5em;
  margin: 5px 0;
}
.open-file-button{
  width: 100%;
  padding: 8px 10px;
  background: #00796b;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.3s;
  border: none;
  margin-top: 3px;
}

.open-file-button:hover{
  background: #004d40; 
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}