body{
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  overflow: hidden;
}


.passwordDialog{
  background: #fff;
  padding: 10px;
  width: 300px;
  margin: 0 auto;
  margin-top: 200px;
}


.passwordDialog h4{
  text-align: center;
  font-size: 18px;
  margin-bottom: 10px;
  font-family: monospace;
}

.passwordDialog input{
  width: calc(100% - 20px);
  background: #f8f8f8;
  padding: 10px;
  text-align: center;
  border: 1px solid rgba(0,0,0,0.3);
  margin: 5px 10px;
  transition: all 0.3s;
}

.passwordDialog input:focus{
  user-select: none;
  background: #ffffff;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  outline: none;
}

.passwordDialog input[type='submit']{
  width: 280px;
  margin: 5px 10px;
  background: #0095DB;
  border: none;
  color: #fff;
  padding: 10px;
  transition: all 0.3s;
  cursor: pointer;
  /*margin: 0 auto;*/
}

.passwordDialog  input[type='submit']:hover{
  background: #0045AB;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.error-input, .passwordDialog .error-input{
  user-select: none;
  background: #F44336;
  border: solid 1px #D22F2F ;
  color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  outline: none;
  animation-name: errorDialog;
  animation-duration: 150ms;
  animation-iteration-count: 3; 
}

.passwordDialog button{
  width: 280px;
  margin: 5px 10px;
  background: #0095DB;
  border: none;
  color: #fff;
  padding: 10px;
  transition: all 0.3s;
  cursor: pointer;
}

.passwordDialog button:hover{
  background: #0045AB;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

@keyframes errorDialog{
  0% {
    transform: translateX(0);
  }
  25%{
    transform: translateX(-5px);
  }
  50%{
    transform: translateX(0px);
  }
  75%{
    transform: translateX(5px);
  }
  100%{
    transform: translateX(0px);
  }
}